<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RHA.Properties.Settings.DB_BYTEMEConnectionString"
            connectionString="Data Source=10.1.4.55;Initial Catalog=DB_BYTEME;Persist Security Info=True;User ID=B60930;Password=babuino11"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>